.DS_Store
desktop.ini
Bakery-Sales_Project.ipynb
Project_Notebook_finished.ipynb
Test_Notebook.ipynb
*.h5
test.ipynb
desktop.ini
prepare_dataV2.ipynb
prepare_dataV3.ipynb
prepare_dataV4.ipynb
prepare_dataV5_GAN.ipynb
prepare_dataV6.ipynb
prepare_dataV5_copy.ipynb
prepare_dataV5.ipynb
Image_Input - Copy
Image_Input - Copy (2)
Image_Output - Copy
Image_Output - Copy (2)